! Colors

!! My first colors
!*foreground:        #d8e1e3
!*background:        #3f3f3f
!black
!*color0:            #353535
!*color8:            #666666
!red
!*color1:            #AE4747
!*color9:            #EE6363
!green
!*color2:            #556B2F
!*color10:           #9ACD32
!brown/yellow
!*color3:            #DAA520
!*color11:           #FFC125
!blue
!*color4:            #6F99B4
!*color12:           #7C96B0
!magenta
!*color5:            #8B7B8B
!*color13:           #D8BFD8
!cyan
!*color6:            #A7A15E
!*color14:           #F0E68C
!white
!*color7:            #DDDDDD
!*color15:           #FFFFFF

!! Molokai Theme
*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
!black
*color0: #101010
*color8: #303030
!red
*color1: #960050
*color9: #ff0090
!green
*color2: #66aa11
*color10: #80ff00
!brown/yellow
*color3: #c47f2c
*color11: #ffba68
!blue
*color4: #30309b
*color12: #5f5fee
!magenta
*color5: #7e40a5
*color13: #bb88dd
!cyan
*color6: #3579a8
*color14: #4eb4fa
!white
*color7: #9999aa
*color15: #d0d0d0

URxvt*depth:        32
URxvt*transparent:  true
URxvt*font:         xft:Envy Code R:pixelsize=13
URxvt*scrollBar:    false
