! Colors

!! Molokai Theme
*background: #202020
*foreground: #b8b8b8
*cursorColor: #b8b8b8
!black
*color0: #202020
*color8: #303030
!red
*color1: #960050
*color9: #ff0090
!green
*color2: #66aa11
*color10: #80ff00
!brown/yellow
*color3: #fecf35
*color11: #ffba68
!blue
*color4: #30309b
*color12: #5f5fee
!magenta
*color5: #7e40a5
*color13: #bb88dd
!cyan
*color6: #3579a8
*color14: #4eb4fa
!white
*color7: #9999aa
*color15: #b8b8b8

URxvt*depth:        32
URxvt*transparent:	true
URxvt*shading:		30
URxvt*font:         xft:Dejavu Sans Mono:size=8
URxvt*scrollBar:    false
